{%- for link in section.settings.menu.links -%}
  <li>
  {%- if link.links != blank -%}
    <header-menu>
      <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
        <summary class="header__menu-item list-menu__item link focus-inset header_text_style{% if request.page_type == 'index' %} header_text_reverse{% endif %}">
          <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
        </summary>
        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
          <div class='page-width'>
            <div class='maga-menu {% if link.title == 'SPECIAL' %}mega-menu-layout{% endif %}'>  
              <div class='maga-menu-category'>
                <div class="mega-menu_list-title">{{ link.title | escape }}</div>
                <ul class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %} page-width" {% if link.title == 'DESIGNERS' %}style="columns: 4"{% endif %} role="list">  
                {%- for childlink in link.links -%}
                <li>
                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link  {% if childlink.current %} mega-menu__link--active {% endif %}{%- if childlink.links != blank -%}upper{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                    {{ childlink.title | escape | capitalize }}
                  </a>
                  {%- if childlink.links != blank -%}
                  <ul class="list-unstyled" role="list">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                  </ul>
                </li>
                {%- endif -%}
                {%- endfor -%}
                </ul>
              </div>
              <div>
                
              {% if link.title != 'DESIGNERS' %} 
                {% if link.title != 'SPECIAL' %} 
                <div class="mega-menu_list-title">DESIGNERS</div>
                <ul class="mega-menu__list mega-menu__list--condensed page-width" role="list">  
                {% if link.title == 'CLOTHES' %}
                  <li><a href="/collections/gucci" class="mega-menu__link mega-menu__link--level-2 link">Gucci</a></li>
                  <li><a href="/collections/valentino" class="mega-menu__link mega-menu__link--level-2 link">Valentino</a></li>
                  <li><a href="/collections/bottega-veneta" class="mega-menu__link mega-menu__link--level-2 link">Bottega veneta</a></li>
                  <li><a href="/collections/fendi" class="mega-menu__link mega-menu__link--level-2 link">Fendi</a></li>
                  <li><a href="/collections/alexander-mcqueen" class="mega-menu__link mega-menu__link--level-2 link">Alexander mcqueen</a></li>
                  <li><a href="/collections/thom-browne" class="mega-menu__link mega-menu__link--level-2 link">Thom browne</a></li>
                {% elsif link.title == 'BAG' %}
                  <li><a href="/collections/gucci" class="mega-menu__link mega-menu__link--level-2 link">Gucci</a></li>
                  <li><a href="/collections/dior" class="mega-menu__link mega-menu__link--level-2 link">Dior</a></li>
                  <li><a href="/collections/bottega-veneta" class="mega-menu__link mega-menu__link--level-2 link">Bottega veneta</a></li>
                  <li><a href="/collections/yves-saint-laurent" class="mega-menu__link mega-menu__link--level-2 link">Yves saint laurent</a></li>
                  <li><a href="/collections/fendi" class="mega-menu__link mega-menu__link--level-2 link">Fendi</a></li>
                {% elsif link.title == 'SHOES' %}
                  <li><a href="/collections/gucci" class="mega-menu__link mega-menu__link--level-2 link">Chanel</a></li>
                  <li><a href="/collections/manolo-blahnik" class="mega-menu__link mega-menu__link--level-2 link">Manolo blahnik</a></li>
                  <li><a href="/collections/bottega-veneta" class="mega-menu__link mega-menu__link--level-2 link">Bottega veneta</a></li>
                  <li><a href="/collections/roger-vivier" class="mega-menu__link mega-menu__link--level-2 link">Roger vivier</a></li>
                  <li><a href="/collections/fendi" class="mega-menu__link mega-menu__link--level-2 link">Fendi</a></li>
                {% else %}
                  <li><a href="/collections/gucci" class="mega-menu__link mega-menu__link--level-2 link">Chanel</a></li>
                  <li><a href="/collections/gucci" class="mega-menu__link mega-menu__link--level-2 link">Gucci</a></li>
                  <li><a href="/collections/fendi" class="mega-menu__link mega-menu__link--level-2 link">Fendi</a></li>
                  <li style='padding-right: 0'><a href="/collections/bottega-veneta" class="mega-menu__link mega-menu__link--level-2 link">Bottega veneta</a></li>
                  <li><a href="/collections/dior" class="mega-menu__link mega-menu__link--level-2 link">Dior</a></li>
              {% endif %}
              </ul>
            </div>  
            {% endif %}        
            {% endif %}  
            </div>  
            <div class='maga-menu-banner'>
              <h3>COLLECTIONS</h3>
              <p>Summer 2023</p>
              <a href='/collections' class='button button--secondary button-load-custom'>SEE MORE</a>
            </div>
          </div>
        </div>
      </details>
    </header-menu>
  {%- else -%}
    <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset header_text_style{% if request.page_type == 'index' %} header_text_reverse{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
      <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
    </a>
  {%- endif -%}
</li>
{%- endfor -%}