<div class="slide-container">
  <div class='brand-banner-container_ slider-track'>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_1 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_3 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_4 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/acne.png?v=1655459082'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/celine.png?v=1655475355'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/allsaints.png?v=1655459082'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/balenciaga.png?v=1655459082'/></div>
  </div> 

  <div class='brand-banner-container_ slider-track'>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_1 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_3 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'>
      {{ section.settings.image_4 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/acne.png?v=1655459082'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/celine.png?v=1655475355'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/allsaints.png?v=1655459082'/></div>
    <div class='brand-banner_ slide'><img src='https://cdn.shopify.com/s/files/1/0595/6275/4206/files/balenciaga.png?v=1655459082'/></div>
  </div> 
</div>


{% style %}


  
{% endstyle %}

{% schema %}
  {
    "name": "t:sections.main-brand-banner_.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.main-brand-banner_.settings.image_1.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.main-brand-banner_.settings.image_2.label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "t:sections.main-brand-banner_.settings.image_3.label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "t:sections.main-brand-banner_.settings.image_4.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-brand-banner_.presets.name"
      }
    ]
  }
{% endschema %}