<div class='banner-container'>
  <div class='banner-main banner_cover'>
    <div class='banner__dim'></div>
    <div class='banner-caption'>
      <div>{{ section.settings.category_1 }}</div>
      <div>{{ section.settings.brand_1 }}</div>
    </div>
    <div class='banner_hover'>{% render 'icon-banner-hover-arrow' %}</div>
    {{ section.settings.image_1 | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: image_height,
      class: image_class,
      sizes: sizes,
      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
      alt: section.settings.image.alt | escape
    }}
  </div>
  <div class='banner-sub'>
    <div class='banner-sub_sub'>
      <div class='banner_cover'>
        <div class='banner__dim'></div>
        <div class='banner-caption'>
          <div>{{ section.settings.category_2 }}</div>
          <div>{{ section.settings.brand_2 }}</div>
        </div>
        <div class='banner_hover'>{% render 'icon-banner-hover-arrow' %}</div>
        {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: section.settings.image.alt | escape
        }}
      </div>
      <div class='banner_cover'>
        <div class='banner__dim'></div>
        <div class='banner-caption'>
          <div>{{ section.settings.category_3 }}</div>
          <div>{{ section.settings.brand_3 }}</div>
        </div>
        <div class='banner_hover'>{% render 'icon-banner-hover-arrow' %}</div>
        {{ section.settings.image_3 | image_url: width: 1500 | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: section.settings.image.alt | escape
        }}
      </div>
    </div>  
    <div class='banner_cover'>
      <div class='banner__dim'>&nbsp;</div>
      <div class='banner-caption'>
        <div>{{ section.settings.category_4 }}</div>
        <div>{{ section.settings.brand_4 }}</div>
      </div>
      <div class='banner_hover'>{% render 'icon-banner-hover-arrow' %}</div>
      {{ section.settings.image_4 | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
  </div>
</div>

{% javascript %}
  const banners = document.querySelectorAll('.banner_cover');
  const target = document.querySelectorAll('.banner_hover');
  const effect = document.querySelectorAll('.banner__dim');
  
  for(let i=0; i<banners.length; i++){
  	banners[i].addEventListener("mouseover",() => {
      target[i].style.display = "block";
      effect[i].style.display = "block";
  	})
  	banners[i].addEventListener("mouseout",() => {
      target[i].style.display = "none";
      effect[i].style.display = "none";
  	})
  }
{% endjavascript %}

{% schema %}
  {
    "name": "t:sections.main-image-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.main-image-banner.settings.image_1.label"
      },
      {
        "type": "text",
        "id": "brand_1",
        "label": "t:sections.main-image-banner.settings.brand_1.label"
      },
      {
        "type": "text",
        "id": "category_1",
        "label": "t:sections.main-image-banner.settings.category_1.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.main-image-banner.settings.image_2.label"
      },
      {
        "type": "text",
        "id": "brand_2",
        "label": "t:sections.main-image-banner.settings.brand_2.label"
      },
      {
        "type": "text",
        "id": "category_2",
        "label": "t:sections.main-image-banner.settings.category_2.label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "t:sections.main-image-banner.settings.image_3.label"
      },
      {
        "type": "text",
        "id": "brand_3",
        "label": "t:sections.main-image-banner.settings.brand_3.label"
      },
      {
        "type": "text",
        "id": "category_3",
        "label": "t:sections.main-image-banner.settings.category_3.label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "t:sections.main-image-banner.settings.image_4.label"
      },
      {
        "type": "text",
        "id": "brand_4",
        "label": "t:sections.main-image-banner.settings.brand_4.label"
      },
      {
        "type": "text",
        "id": "category_4",
        "label": "t:sections.main-image-banner.settings.category_4.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-image-banner.presets.name"
      }
    ]
  }
{% endschema %}