{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}

<section
  id="MainWishlist-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
>
  
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  

<div class='product-grid-container' id='ProductGridContainer'>
    <div class="collection">
      <div class="loading-overlay gradient"></div>
      
      {% comment %} Sample loading element {% endcomment %}
      <p class="wishlist__loader full-width text-center">Loading...</p>
      
      <ul id="product-grid" data-id="{{ section.id }}" data-next-url='{{ paginate.next.url }}' class="grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
        grid--{{ section.settings.columns_desktop }}-col-desktop product-grid-custom products-on-page" grid-wishlist>

      </ul>
</div>


</section> 
  
{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}