{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  {{ 'quick-add.js' | asset_url | script_tag }}
  {{ 'product-form.js' | asset_url | script_tag }}
{%- endif -%}
{{ 'collection-load-more.js' | asset_url | script_tag }}
{{ 'ajaxinate.min.js' | asset_url | script_tag }}

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  id="Wishlist-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
>

<h1 class="title--primary center">MY WISHLIST</h1> 

<div class='total'>
  <div>My wishlist</div>
  <div>CREAR</div>
</div>
  
<div class='product-grid-container' id='ProductGridContainer'>
  <div class="collection">
    <div class="loading-overlay gradient">
     <p class="wishlist__loader full-width text-center">Loading...</p>
    </div>
    <ul 
      id="product-grid" 
      data-id="{{ section.id }}" 
      data-next-url='{{ paginate.next.url }}' 
      class="grid product-grid grid--1-col-tablet-down grid--4-col-desktop product-grid-custom products-on-page" 
      grid-wishlist
    ></ul>

     <div class="product-list-bottom">
        {%- if paginate.pages > 1 -%}
        <div>
          {%- unless paginate.previous -%}
            <button class="button button--secondary button-load-custom load-more">
             <span load-more-text>LOAD MORE</span>
             <span class="hide" loader>
               {% comment %}<img src="{{ 'loader.gif' | asset_url }}"/>{% endcomment %}
             </span>
            </button>
          {%- endunless -%}        
        </div>
        <div>{% render 'pagination', paginate: paginate, anchor: '' %}</div>
        {%- endif -%}
      </div>  
    </div>
  </div>
</div>

</section> 
  
{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}