<div class='page-width'>
  <div>{{ page.title }}</div>
</div>

<div>
  <div>1{{ window.swymCart.items[0].product_title }}</div>
  <div>2{{ iu }}</div>
  <div>3{{ du }}</div>
  <div>4{{ pr }}</div>
</div>

<div id='wishlist-item-container'></div>
<script src='{{ 'wishlist-item-container.js' | asset_url }}'></script>