<div class='page-width'>
  <div>{{ page.title }}</div>
</div>

<div>
  <div>{{ dt }}</div>
  <div>{{ iu }}</div>
  <div>{{ du }}</div>
  <div>{{ pr }}</div>
</div>

<div id='wishlist-item-container'></div>
<script>

  
</script>